.darkgrayBG{
  background-color: #444242;
}

.darkgraytext{
  color: #444242;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.titre{
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}   

.logo{
    width: 90px;
    vertical-align: auto;
}

.fa-search{
  color: white;
  padding: 4px;
}

.searchbar{
  height: 25px;
  width: 130px;
  padding-left: 5px;
  border: none;
}

.navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:10px;
  margin-bottom: 30px;
}

.btn{
  border-image: linear-gradient(to right,#EC196E, #8267A8, #26AADA)1/ 2px;
  padding: 9px; 
  margin: 17px 0 0 0;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.linkNav{
  text-decoration: none;
  color:#444242;
  width:50%;
}

footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 80px;
  width:100%;
  color: white;
  font-size: 10px;
  position: absolute;
  bottom: 0px;
}

@media (min-width: 992px) { 
.navigation{
  flex-direction: row;
  justify-content: center;
}

.btn{
  margin: 17px 20px 0 20px;
}
nav {
  justify-content: space-between;
  height: 90px;
}   

.logo{
  margin-left:60px;
  width: 115px;

}
.fas{
  margin-right: 60px;
}
.searchbar{
  width: 330px;
}
.linkNav{
    width:20%;
  }
}


@media (min-width: 1200px) {  }