RewriteEngine On   
RewriteRule ^homepage$ index.php [L,QSA]
RewriteRule ^create$ index.php [L,QSA]
RewriteRule ^browse$ index.php [L,QSA]
RewriteRule ^upload$ index.php [L,QSA]
RewriteRule ^browse/(meme/)([0-9]+)$ index.php?action=$1&id=$2 [L,QSA]
RewriteRule ^(edit-meme/)([A-Za-z0-9]+)&([0-9]+)$ index.php?action=$1&$newName=$2&id=$3 [L,QSA]
