{% extends 'template.html' %}
{% block content %}
<main>
  <section class="memeBg">
    <div class="navigation">
        <h1 class="titre darkgraytext">Create your meme</h1>
        </div>
    <div class="navigation">
        <a class="linkNav" href="#"><label for="file" class="btn">upload your image</label><input id="file" class="input-file" type="file"></a>
        <p class="subT=itle">or select one below</p>
    </div>
  </section>
    <section class="hotMemes">
            <div id="searchIn" >
                <input type="text" class="searchbarIn" placeholder="Search">
                <a class="searchButtonIn"><i class="darkgraytext fas fa-search"></i></a>
            </div>
            <form>
                    <div class="multiselect">
                      <div class="selectBox" id="select">
                        <select>
                          <option>Select an option</option>
                        </select>
                        <div class="overSelect"></div>
                      </div>
                      <div id="checkboxes">
                      {% for categorie in categories %}
                            <label for="{{categorie.tag}}">
                            <input type="checkbox" id="one" />{{categorie.tag}}</label>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="submit-btn">
                    <label class="btn submit-categories">search</label><button class="input-file" type="submit">Search</button>
                    </div>
                  </form>
                  
                  
    </section>
    <section class="allImages">
      {% for image in images %}
      <img class="createImage" src="{{ image.image }}" width="200" height="200">
      {% endfor %}
    </section>
</main>
{% endblock %}
