{% extends 'template.html' %}
{% block content %}

<img id="image-input" src="{{selection.picture}}" width="100" height="100">
<p>
    <textarea id="top-text"></textarea>
    Text size: <input type="range" id="top-text-size-input" min="0.05" max="0.25" value="0.15" step="0.01">
</p>
<p>
    <textarea id="bottom-text"></textarea>
    Text size: <input type="range" id="bottom-text-size-input" min="0.05" max="0.25" value="0.15" step="0.01">
</p>

<p>
    <button id="generate-btn">Generate!</button>
</p>
<p>
    <canvas id="meme-canvas" title="Right click -> &quot;Save image as...&quot;"></canvas>
</p>

<a id="download">Download as image</a>

{% endblock %}