{% extends 'template.html' %} 

{% block content %}

<p>{{selection.id_p}}</p>


<h2>Create your meme</h2>
<p>To create your meme, type your top and bottom text, choose the size of both texts, select a font and a color... and the meme is all yours </p>
<img id="image-input" src="{{selection.picture}}" width="100" height="100">


<p>
    <textarea id="top-text"></textarea>
    Text size: <input type="range" id="top-text-size-input" min="0.05" max="0.25" value="0.15" step="0.01">
</p>
<p>
    <textarea id="bottom-text"></textarea>
    Text size: <input type="range" id="bottom-text-size-input" min="0.05" max="0.25" value="0.15" step="0.01">
</p>

<p>
    <button id="generate-btn">Generate!</button>
</p>
<p>
    <canvas id="meme-canvas" title="Right click -> &quot;Save image as...&quot;"></canvas>
</p>

<a id="download">Download as image</a>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<img src="{{selection.picture}}" width="100" height="100">

<!--Bouton Tweeter -->
<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="InfoWebMaster">Tweet</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>


<!--Bouton Facebook -->

<!-- <a name="fb_share" type="box_count" data-via="InfoWebMaster"></a>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="icon/javascript"></script> -->


<!-- <div class="fb-share-button" data-href="http://localhost/meme-generator/edit-meme/848cf1eba58093163ae8a2769876c1b9&amp;11"
    data-layout="box_count" data-size="large" data-mobile-iframe="true">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%2Fmeme-generator%2Fedit-meme%2F848cf1eba58093163ae8a2769876c1b9%2611&amp;src=sdkpreparse"
        class="fb-xfbml-parse-ignore"></a>
</div> -->

<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Flocalhost%2Fmeme-generator%2Fedit-meme%2F848cf1eba58093163ae8a2769876c1b9%2611&layout=box_count&size=large&mobile_iframe=true&width=91&height=58&appId"
    width="91" height="58" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

<!--Bouton Like Facebook, servez vous -->

<!-- <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.example.com/page.html&layout=box_count&show_faces=true&width=65&action=like&font=arial&colorscheme=light&height=65" 
scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:65px; height:65px; margin-top:3px;" allowTransparency="true"></iframe> -->

<h3>Similar : </h3>

{% for memes in similarMemes %}
<img src="{{memes.meme}}" alt="" width="100" height="100">


{% endfor %}



{% endblock %}