{% extends 'template.html' %}

{% block content %}

{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meme Generetor</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
    <header class="container">
        <nav >
         
          <a href="#" id="brand"><img src="./assets/images/m-paint.png" alt="logo"></a>
          <a href="/" id='home' class='nav-btn'><span>MEME GENERATOR</span></a>
          
          <div id="search "class="wrap">
            <!-- <div class="search"> -->
               <input type="text" class="searchTerm" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            <!-- </div> -->
         </div>
          
        </nav>
    </header>
<br><br>
    <div class="lorem">
        <img src="./assets/images/m-paint.png" alt="">
        Irure esse nisi do aute labore deserunt deserunt ex veniam voluptate eu. Quis proident labore Lorem Lorem fugiat enim. Quis ea in quis id minim minim aliquip aute sit id incididunt magna nisi. Excepteur do dolor ut in amet sunt laboris irure esse deserunt minim exercitation. Lorem laboris deserunt veniam proident consequat laboris non nisi nostrud labore exercitation et labore ut. Officia proident ut ex esse labore esse.
    </div>

    <div class="lorem">Magna elit fugiat aliqua aliquip sunt est consectetur esse. Non pariatur enim nulla et tempor ut sunt deserunt quis ullamco aute officia adipisicing eu. Eiusmod anim sit sint laborum qui.</div>

    <div class="lorem">
    id anim quis cupidatat quis duis ipsum ut dolore magna.

    Qui eiusmod enim eiusmod eu. Incididunt dolore veniam commodo aliquip est aute. Incididunt et ut ullamco dolor quis magna consequat ipsum tempor anim consequat dolor. Et ut et ea voluptate id excepteur voluptate voluptate non non sit nulla sint.
    </div>

    <!-- <a href="views/create.html"><button>Create your meme</button></a>

    {% for infos in imgBase %}
        <p>
            {{infos.id}}
            {{infos.image}}
        </p>
    {% endfor %} -->
    
</body>
</html>
