{% extends 'template.html' %}
{% block content %}
<main>
    <section class="memeBg">
        <div class="navigation">
            <a class="linkNav" href="create"><p class="btn">create your meme </p></a>
            <a class="linkNav" href="browse"><p class="btn">all memes</p></a>
        </div>
    </section>
    <section class="hotMemes">
        <h1 class="titre darkgraytext">Hot Memes</h1>
        {% for hotMemes in allhotMemes %}
        <img src="{{hotMemes.meme}}"width="100" height="100">
        {% endfor %}
    </section>
</main>
{% endblock %}  