{% extends 'template.html' %}
{% block content %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<p class="title_m">You are looking at "{{meme.title_m}}"</p>
<img class="displayMeme" src="{{meme.meme}}">



<div>
    <h2 class="transition">
        Share on :
    </h2>
    <div class="reseaux-sociaux">
            <div class="fb-share-button fb-margin" data-href="http://claireb.promo-17.codeur.online/meme-generator/meme/{{meme.id_m}}" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fclaireb.promo-17.codeur.online%2Fmeme-generator%2Fmeme%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div><br><br>
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="InfoWebMaster">Tweet</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>
</div>

{% endblock %}  