<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="http://localhost/meme-generator/index.php">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="views/assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title>Meme-Generetor : Homepage</title>
    
</head>
<body>
    <nav class="darkgrayBG">
        <a href="#"><img class="logo" src="views/assets/images/m-paint.png" alt="logo"></a>
        <div id="search" >
            <input type="text" class="searchbar" placeholder="Search">
            <a class="searchButton"><i class="fas fa-search"></i></a>
        </div>
    </nav>
    {% block content %}


    {% endblock %}
    <footer class="darkgrayBG">
        <p class="footer">© MEME-GENERATOR - all right reserved</p>
    </footer>
    
    
  