@font-face {
  font-family: "RobotoReg";
  src: url("../fonts/roboto-regular.ttf") format("opentype");
}    

.darkgrayBG{
  background-color: #444242;
}

.darkgraytext{
  color: #444242;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'RobotoReg';
}

/* Titles and subtitles */

.title{
  text-align: center;
  margin: 25px 0 0 0;
  text-transform: uppercase;
  font-size: 20px;
}

.subTitle{
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  margin: 35px 0 0 0;
}

.transition{
  font-size:15px;
  padding: 0;
  margin: 35px 0 10px 0;
  width:100%; 

}

.nom-site{
  color: white;
  font-family: "RobotoReg";
  margin-bottom: 0;
}
/*Input & boutons */

input.btn, .btn{
  border-image: linear-gradient(to right,#EC196E, #8267A8, #26AADA)1/ 2px;
  padding: 9px; 
  margin: 17px 0 0 0;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
}

.submit-btn{
  margin-top: 20px;
}

.btn:hover {
    color: #25a5c4;
}

#memeTitle{
  width: 100%;
  height: 40px;
  padding-left: 4px;
}
/*Template*/

nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}   

.logo{
    width: 90px;
    vertical-align: auto;
}

.wen{
  color: white;
  padding: 4px;
}

.searchbar{
  height: 25px;
  width: 130px;
  padding-left: 5px;
  border: none;
}

/*Homepage*/

.linkNav{
  text-decoration: none;
  color:#444242;
  width:50%;
}

.navigation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:10px;
  margin-bottom: 30px;
}

/* Create */

.createImage{
  margin: 4px 0 4px 0;
  width: 100px;
  height:100px;
  margin-bottom: 10%;
}

/*Search bar and select */

#searchIn{
  display: flex;
  flex-direction: row;
}

.searchbarIn{
  height: 35px;
  width: 200px;
}

.multiselect {
  width: 260px;
}

.selectBox {
  position: relative;
  width: 70%;
  margin: auto;
  height: 38px;
}

.selectBox {
  width: 100%;
  height: 100%;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #25a5c4;
}

/*Edit Meme */


textarea{
  resize: none;
  margin: 10px 0 10px 0;
}

.btnSocial{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.share-button{
  margin: 10px;
}

.btn-save-dl{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dl{
  width: 100%;
}

.h2edit-meme{
  display: flex;
  justify-content: center;
}

#meme-canvas {
  padding: 8%;
  
}
.similar{
  margin-left: 40px;
}

.range{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.range-select{
  margin : 15px 0 15px 0;
}

.text-size{
  margin :0;
  font-size: 14px;
  padding: 0;
}


/* Size, contenu etc */
input[type=range].custom-slider {
  color: #444242;
   cursor: pointer;
 }
 
 input[type=range].custom-slider::-moz-range-thumb {
   width: 5px;
   height: inherit;                /* s'adapte à la hauteur de l'input */
   border: none;                   /* supprimer la bordure */
   border-radius: 0;               /* supprimer le rayon */
   background : linear-gradient(#EC196E, #8267A8, #26AADA);
 }
 
 select, textarea {
   width: 100%;
   height: 30px;
   font-size: 14px;
   padding-left: 4px;
 }
 
 input[type="color"] {
   -web-kit-appearance: none;
   border: none;
 
   background: none;
 }
 input[type="color"]::-webkit-color-swatch-wrapper {
   padding: 0;
   
 }

 input[type="color"]::-webkit-color-swatch {
   border: none;
 }
 
 .edit-meme{
   display: flex;
   flex-direction: column;
   margin: auto;
   text-align: center;
   width: 90%;
 }

 .overSelect {
  position: absolute;
  height: 40px;
  margin: auto;

}

.getallMemes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/*Meme*/

.title_m{
  text-transform: uppercase;
}

.oneMeme{
  margin-bottom: 25px;
}

.similar-memes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px 0 5px 0;
  padding: 0;
}
.img-meme{
  height: 320px;
  margin: 5px 0 5px 0;
}

.transition-sim{
  padding-left: 13px;
}
/*A trier*/


#imgName{
  margin: 25px 0 0 0;
  font-size: 12px;
  height: 33px;
  padding: 0 0  0 4px;
}

.input-file {
  display: none;
}

.submit-categories{
  margin: 20px;
}

.allImages{
  margin-top: 20px;
}

.displayMeme{
  width :80%;
}

.introduction{
  font-size: 14px;
}



/* Footer */

footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 80px;
  width:100%;
  color: white;
  font-size: 10px;

}





@media (min-width: 992px) { 
  
.navigation{
  padding: 60px;
  flex-direction: row;
 
}

.uploadPic{
 
  flex-direction: row;
  justify-content: space-around;
}

.marginBg{
  margin : 0;
  padding : 0;
}

.memeBg{
  padding: 60px;
  background-image: url("../medias/background/background.png");
  /* display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; */
  /* height: auto;
  width: 100%; */
  /* background-repeat: no-repeat; */
}

.btn{
  margin: 17px 20px 0 20px;
  background-color: #E7F5F6;
  
}

nav {
  justify-content: space-between;
  height: 90px;
}   

.logo{
  margin-left:60px;
  width: 115px;

}
.fas{
  margin-right: 60px;
}
.searchbar{
  width: 330px;
}

.linkNavCreate{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 120%;
}
.linkNav{
    display: flex;
    width:20%;
  }
}

@media (min-width: 1200px) {  

.displayMeme{
  width :50%;
}

#meme-canvas {
  width: 300px;
  height: 300px;
}
}